.container {
    background-color:  rgba(128, 0, 128, 0.873);
    height: 100px;
    display:flex;
    justify-content: center;

}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;


}

.box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
  }
  .item:first-child {
    display: none;
  }

  .item {
    flex-direction: column;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }
}