.container {
  width: 33%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: rgba(128, 0, 128, 0.44);
  
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: rgba(128, 0, 128, 0.819);
}

.desc {
    text-align: center;
    color: rgba(128, 0, 128, 0.44);
}
.container:hover {
    background-color: rgba(84, 83, 83, 0.515);
    border-radius: 15px;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 30px;
    text-align: center;
  }

  .price,
  .desc {
    font-size: 24px;
  }
}